body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 40px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
    color: #333;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info {
  display: flex;
  gap: 20px;
}

.info div {
  flex: 1;
}

p {
  font-style: italic;
  font-weight: bold;

}

input[type="radio"] {
  margin-right: 8px;
}

button {
  background-color: #4472a3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #284c72;
}

<<<<<<< HEAD
table, th, td {
  border: 1px solid;
  padding: 4px;
}
=======
#chrono{
color:red;
font-weight:bold;
font-size:22px;
}
>>>>>>> 8dd4d176e70acf97d08b4843510b2e05374bad24
